<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @page.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @page.answer %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
